body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #17141d;
}

header {
    margin: 0;
    padding: 0;
    height: 15vh;
    z-index: 1;
    background-color: rgb(248, 122, 206);
    position: sticky;
    top: 2vh;
}

#pic1_container {
    margin: 0;
    padding: 0;
    height: 100vh;
    z-index: 0;
    position: flex;
    top: 0;
}

#pic1_mid {
    height: 100%;
    z-index: 0;
    position: flex;
}

.pic1 {
    height: 100vh;
    width: 40vw;
    position: relative;
    animation-name: float;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    left: -0.5vw;
    top: -15vh;
}

@keyframes float {
    0%      {left: -0.5vw;}
    50%     {left: 60vw;}
    100%    {left: -0.5vw;}
}

#text_container {
    position: relative;
    transform: translateY(-55vh);
    height: 30vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    z-index: -1;
}

#text_block {
    height: 100%;
    width: 100%;
    display: flex;
}

#fancy-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 12vh;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    background: -webkit-radial-gradient(rgb(255,255,255), rgb(130, 245, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#card_container {
    height: 100vh;
    display: flex;
    background-color: rgb(130, 245, 253);
    z-index: 0;
    border-radius: 15%;
}

#card {
    height: 50vh;
    width: 50vw;
    background-color: antiquewhite;
    position: relative;
    align-self: center;
    left: 25%;
}

p {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 3vh;
    text-indent: 2vw;
}
